body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f5f7fa;
}

.navbar {
  border-bottom: 2px solid #333;
}

.table th,
.table td {
  vertical-align: middle;
}

.modal .form-control {
  background-color: #f9f9f9;
}

.modal .form-control:focus {
  border-color: #0d6efd;
  box-shadow: 0 0 0 0.2rem rgba(13, 110, 253, 0.25);
}

.btn {
  transition: all 0.2s ease-in-out;
}

.btn:hover {
  transform: scale(1.03);
}

.modal-header,
.modal-footer {
  background-color: #f8f9fa;
}

.sidebar {
  height: 100vh;
  padding-top: 1rem;
  border-right: 1px solid #dee2e6;
}

#sidebar-menu .nav-link {
  display: block;
  padding: 8px 12px;
  border: 2px solid transparent; /* чтобы рамка не прыгала */
  border-radius: 4px;
  text-decoration: none;
  color: #000;
  transition: border-color 0.3s;
}

#sidebar-menu .nav-link.active {
  border-color: blue;
  outline: none;
}





.nav-tabs .nav-link.active {
  background-color: #0d6efd;
  color: white;
}

#adminTabContent {
  min-height: 300px;
}
